    GLOBAL_SETTINGS
    LAB_MASTER_SEED gateway_content_disarm_pl_student_master_seed
    REGISTRY minh1612
NETWORK AUDIO_NET
     MASK 10.0.0.0/24
     GATEWAY 10.0.0.254
CONTAINER gateway_proxy
     USER ubuntu
     X11 YES
     AUDIO_NET 10.0.0.1
CONTAINER user_pc
     USER ubuntu
     X11 YES
     AUDIO_NET 10.0.0.5
CONTAINER file_server
     USER ubuntu
     X11 NO
     AUDIO_NET 10.0.0.10
