    GLOBAL_SETTINGS
    LAB_MASTER_SEED audio_decoy_steg_ptit_master_seed
    REGISTRY minh1612
NETWORK CTF_NET
     MASK 10.0.0.0/24
     GATEWAY 10.0.0.254
CONTAINER suspect_pc
     USER ubuntu
     X11 YES
     CTF_NET 10.0.0.10
CONTAINER forensics_lab
     USER ubuntu
     X11 YES
     CTF_NET 10.0.0.20
