    GLOBAL_SETTINGS
    LAB_MASTER_SEED gateway_content_disarm_seed
    REGISTRY ghcr.io/minhvu2501-hub
NETWORK NET1
     MASK 10.0.0.0/24
     GATEWAY 10.0.0.254
CONTAINER gateway_proxy
     USER ubuntu
     NET1 10.0.0.1
CONTAINER user_pc
     USER ubuntu
     X11 YES
     NET1 10.0.0.5
CONTAINER fileserver
     USER ubuntu
     NET1 10.0.0.10
